.wrapper {
    position: relative;
}

.label {
    transform: rotate(-90deg);
    color: #000;
    font-size: 1rem;
    letter-spacing: 3px;
    position: absolute;
    top: 45%;
    left: -46px;
    z-index: 100;
}

.content {
    padding: 64px 96px;
}

.banners {
    position: relative;
}

.banners-item {
    display: none;
    animation: opacity 0.4s linear;

    &.active {
        display: block;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;
    min-width: 400px;
    height: 100%;
    overflow-y: hidden;
    z-index: 1;
}

.sidebar-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 10px);
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
}

.skins-title {
    width: calc(100% - 10px);
    font-size: 4rem;
    font-style: italic;
    color: #fff;
    padding: 36px 48px 24px;
    border-bottom: 1px solid rgba(193, 193, 193, 0.2);
    position: relative;
    z-index: 1;
}

.skins-container {
    width: 100%;
    height: fit-content;
    padding-left: 50px;
    overflow-y: hidden;
}

.skins-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    transform: translateY(100px);
    transition: transform linear 0.3s;
    position: relative;
}

.skins-item {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0.7;
    transition: opacity ease-out 0.3s;
    position: relative;

    &:hover {
        opacity: 1;

        .skins-item-img img {
            width: 70%;
            height: 70%;
        }
    }

    &.active {
        opacity: 1;

        .skins-item-img img {
            width: 100%;
            height: 100%;
        }

        .skins-item-name {
            margin-left: 20px;
        }

        .skins-item-border {
            opacity: 1;
            .skins-item-border-1 {
                &::before {
                    width: 100%;
                }

                &::after {
                    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
                }
            }

            .skins-item-border-2 {
                &::before {
                    width: calc(100% - 19px);
                }

                &::after {
                    height: calc(100% - 20px);
                }
            }
        }
    }
}

.skins-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;

    img {
        display: block;
        width: 60%;
        height: 60%;
        object-fit: cover;
        transition: width linear 0.3s, height linear 0.3s;
    }
}

.skins-item-name {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    margin: 20px 20px 20px 0;
    transition: margin-left linear 0.3s;
}

.skins-item-border {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 80%;
    z-index: -1;
    opacity: 0;

    .skins-item-border-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            border-bottom: 1px solid rgba(193, 193, 193, 0.8);
            transition: width linear 0.1s;
            transition-delay: 0.8s;
        }

        &::after {
            content: '';
            position: absolute;
            top: -14px;
            right: -14px;
            border-bottom: 1px solid rgba(193, 193, 193, 0.8);
            width: 28px;
            height: 28px;
            transform: rotate(45deg);
            clip-path: polygon(0 100%, 0 0, 0 0, 0 100%);
            transition: clip-path linear 0.15s;
            transition-delay: 0.5s;
        }
    }

    .skins-item-border-2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            border-top: 1px solid rgba(193, 193, 193, 0.8);
            transition: width linear 0.2s;
            transition-delay: 0.3s;
        }

        &::after {
            content: '';
            position: absolute;
            top: 20px;
            right: 0;
            height: 0;
            border-right: 1px solid rgba(193, 193, 193, 0.8);
            transition: height linear 0.15s;
            transition-delay: 0.65s;
        }
    }
}

.bottombar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 180px;
    padding: 24px 0;
    overflow-x: hidden;
    display: none;
}

.bottombar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-55px);
    transition: transform linear 0.3s;
}

.bottombar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 110px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity linear 0.3s;

    &.active {
        opacity: 1;

        .bottombar-item-border {
            &::before {
                clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
            }

            .bottombar-item-border-1 {
                &::before {
                    height: 100%;
                }

                &::after {
                    width: 100%;
                }
            }

            .bottombar-item-border-2 {
                &::before {
                    width: calc(100% - 21.5px);
                }

                &::after {
                    height: calc(100% - 21.5px);
                }
            }
        }
    }
}

.bottombar-item-img {
    width: 60px;
    height: 60px;
    position: relative;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.bottombar-item-name {
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    margin-top: 12px;
}

.bottombar-item-border {
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: -5px;
    left: -5px;

    &::before {
        content: '';
        position: absolute;
        display: block;
        top: -15px;
        right: -15px;
        width: 30px;
        height: 30px;
        transform: rotate(45deg);
        border-bottom: 2px solid #967c47;
        clip-path: polygon(0 100%, 0 0, 0 0, 0 100%);
        transition: clip-path linear 0.2s;
        transition-delay: 0.3s;
    }

    .bottombar-item-border-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 0;
            border-left: 1px solid #967c47;
            transition: height linear 0.2s;
            transition-delay: 0.3s;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            border-bottom: 1px solid #967c47;
            transition: width linear 0.2s;
            transition-delay: 0.3s;
        }
    }

    .bottombar-item-border-2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            border-top: 1px solid #967c47;
            transition: width linear 0.2s;
            transition-delay: 0.3s;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 21.5px;
            right: 0;
            height: 0;
            border-right: 1px solid #967c47;
            transition: height linear 0.2s;
            transition-delay: 0.3s;
        }
    }
}

// Animation {
@keyframes opacity {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

// Responsive

@media (max-width: 1079px) {
    .label {
        color: #fff;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
        font-style: italic;
        letter-spacing: 1px;

        .label-icon {
            display: none;
        }
    }

    .content {
        padding: 48px 64px 194px;
        background-color: #000913;
    }

    .sidebar {
        display: none;
    }

    .bottombar {
        display: block;
    }
}

@media (max-width: 639px) {
    .content {
        padding: 48px 12px 194px;
    }
}
