.wrapper {
    background-color: transparent;
    position: relative;
    width: 30%;
    height: 180px;
    display: flex;
    cursor: pointer;
    user-select: none;
    font-family: Spiegel, 'Arial Narrow', Arial, sans-serif;

    &:hover .img img {
        transform: scale3d(1.05, 1.05, 1);
    }

    &:hover::after,
    &:hover::before {
        display: block;
    }

    &:hover > .borderAnimation::before {
        height: 100%;
    }

    &:hover > .borderAnimation::after {
        width: 100%;
    }

    &:hover > .borderAnimation > div {
        top: -20px;
        right: -20px;
    }

    &::before {
        content: '';
        display: none;
        position: absolute;
        top: -10px;
        right: 10px;
        z-index: 3;
        width: 25px;
        border-top: 3px solid #a1a1a1;
        animation: 0.2s ease-in slideFromRightOnHover;
    }

    &::after {
        content: '';
        display: none;
        position: absolute;
        top: -10px;
        right: 10px;
        z-index: 3;
        height: 25px;
        border-right: 3px solid #a1a1a1;
        animation: 0.2s ease-in slideFromTopOnHover;
    }
}

.borderAnimation {
    position: absolute;
    z-index: 2;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    height: calc(100% + 20px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    display: block;
    background-color: transparent;
    border-left: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    // animation: fadeIn 1.5s linear;
    overflow: hidden;

    div {
        display: block;
        position: absolute;
        top: -11px;
        right: -11px;
        z-index: 3;
        width: 25px;
        height: 25px;
        background-color: transparent;
        border-bottom: 2px solid #cbcbcb;
        transform: rotate(45deg);
        transition: top 0.15s linear, right 0.15s linear;
        animation: fadeIn 1.5s ease-out;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 1px;
        height: calc(100% - 18px);
        background-color: #cbcbcb;
        transition: height 0.15s linear;
        animation: slideFromBottom 1s linear;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 18px);
        height: 1px;
        background-color: #cbcbcb;
        transition: width 0.15s linear;
        animation: slideFromLeft 1s linear;
    }
}

.img {
    width: 145px;
    height: 100%;
    overflow: hidden;
    animation: 0.8s linear fadeIn;

    img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    }
}

.text {
    position: relative;
    flex: 1;
    padding: 0 16px 0 10px;
}

.label {
    color: #bcbcbc;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    animation: 1s linear fadeIn;
}

.title {
    font-size: 1.8rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 1.1;
    margin-top: 10px;
    font-weight: 500;
    animation: 1.2s linear fadeIn;
}

.content {
    font-size: 1.2rem;
    margin-top: 10px;
    line-height: 1.1;
    letter-spacing: 0.05em;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgb(26, 29, 33);
    animation: 1.4s linear fadeIn;
}

// Animations

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideFromRightOnHover {
    from {
        width: 0;
    }
    to {
        width: 25px;
    }
}

@keyframes slideFromTopOnHover {
    from {
        height: 0;
    }
    to {
        height: 25px;
    }
}

@keyframes slideFromLeft {
    from {
        width: 0;
    }
    to {
        width: calc(100% - 18px);
    }
}

@keyframes slideFromBottom {
    from {
        height: 0;
    }
    to {
        height: calc(100% - 18px);
    }
}

// Responsive

@media (max-width: 1023px) {
    .wrapper {
        min-width: 384px;
        margin: 0 10px;
    }
}

@media (max-width: 1359px) {
    .title {
        font-size: 1.4rem;
    }

    .content {
        -webkit-line-clamp: 4;
    }
}
