.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: var(--primary);
    padding: 0 32px;
    position: fixed;
    z-index: 100;
}

.logo {
    padding: 16px;
}

.logoLOL {
    padding: 16px;
    display: none;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.functions {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Search function

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2a29;
    border-radius: 45px;
    overflow: hidden;
    margin-right: 10px;
}

.search-btn {
    width: 60px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    margin: 0;
    color: var(--white);
}

.search-input {
    background-color: transparent;
    color: var(--white);
    font-family: 'Beaufort for LOL';
    font-size: 1.6rem;
    padding: 12px 0;
    letter-spacing: 1.5px;
    transition: width ease 1s;
}

.search-close-btn {
    width: 60px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 1.6rem;
    color: #7e7e7e;
    cursor: pointer;
}

.warning {
    font-size: 2rem;
    color: #be29cc;
    width: 32px;
    height: 32px;
    border-radius: 6.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

.languages {
    font-size: 2rem;
    width: 32px;
    height: 32px;
    border-radius: 6.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    color: var(--white);
}

.warning:hover,
.languages:hover {
    background-color: #2b2a29;
}

// Warning popup menu

.warning-popup {
    &::after {
        --arrow-size: 10px;
        content: '';
        display: block;
        position: absolute;
        top: calc(0px - var(--arrow-size));
        left: 50%;
        transform: translateX(-50%);
        border-left: var(--arrow-size) solid transparent;
        border-right: var(--arrow-size) solid transparent;
        border-bottom: var(--arrow-size) solid var(--white);
    }
}

.warning-items {
    background-color: var(--white);
    color: var(--black);
    width: 280px;
    padding: 24px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    font-family: 'Beaufort for LOL';
}

.warning-item {
    border-bottom: 1px solid rgba(168, 171, 171, 0.7);
    margin-bottom: 16px;
}

.warning-btn {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    display: block;
    color: var(--black);

    &:hover {
        text-decoration: underline !important;
    }
}

.warning-item-label {
    background-color: #e69700;
    padding: 6px 12px;
    margin-bottom: 12px;
    border-radius: 32px;
    font-size: 1.2rem;
    font-weight: 700;
    width: 100px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);

    .warning-item-label-icon {
        padding-right: 4px;
    }
}

.warning-item-title {
    font-size: 1.8rem;
    font-weight: 500;
}

.warning-item-date {
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: #919191;
}

.warning-item-content {
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.warning-item-btn {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #bababa33;
    width: 100%;
    padding: 8px 0;
    margin: 24px 0 16px;
    border-radius: 6.4px;
    cursor: pointer;
}

// Languages popup menu

.languages-popup {
    &::after {
        --arrow-size: 10px;
        content: '';
        display: block;
        position: absolute;
        top: calc(0px - var(--arrow-size));
        left: 50%;
        transform: translateX(-50%);
        border-left: var(--arrow-size) solid transparent;
        border-right: var(--arrow-size) solid transparent;
        border-bottom: var(--arrow-size) solid var(--white);
    }
}

.languages-items {
    background-color: var(--white);
    color: var(--black);
    width: 220px;
    max-height: 360px;
    overflow-y: scroll;
    padding: 12px 24px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    font-family: 'Beaufort for LOL';
    display: flex;
    flex-direction: column;
    position: relative;
}

.languages-item {
    font-size: 1.4rem;
    font-weight: 600;
    color: #999;
    padding: 6px 0;
    transition: color 0.5s;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        color: var(--black);
        cursor: pointer;
    }
}

.languages-item.active {
    color: #c4202b;
}

// Responsive

@media (max-width: 1023px) {
    .search,
    .logo {
        display: none;
    }

    .logoLOL {
        display: block;
    }

    .items {
        display: none;
    }
    .wrapper {
        padding: 32px 16px;
    }
}
