.btnAnimation {
    position: absolute;
    z-index: 2;
    width: 106%;
    max-width: 106%;
    height: 120%;
    max-height: 120%;
    top: -10%;
    left: -3%;
    background-color: transparent;
    animation: opacity 1.5s linear;
}

.imgAnimation {
    width: 100.89%;
    max-width: 100.89%;
    min-width: 100.89%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: -0.5%;
    z-index: -1;
}

.normal {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

@keyframes opacity {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}
